* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
@import url('https://fonts.cdnfonts.com/css/cyberpunk-is-not-dead');
body {
   background: black;
   font-family: monospace, 'Courier New', Courier;
   background-image: url(/Recursos/IMG/index.jpg);
   background-size: cover;
   background-position: bottom;
   backdrop-filter: blur(2px);
   background-repeat: no-repeat;
}

header {
   position: relative;
   width: 100%;
   min-height: 20vh;
}

:root {
   --primary-color: #BF2188;
   --glitched-duration: 0.9s;
   --second-color: #F22E76;
   --third-color: #411D59;
   --fourth-color: #F2A444;
   --fifth--color: #42FBFD;
   --sixth--color: #2F71AB;
   --seventh--color: #1B2350;

}

/*/////////////////////CABECERA/////////////////////*/

.header-fixed {
   top: 0;
   left: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   color: rgb(241, 241, 0);
   position: fixed;
   background: rgba(0, 0, 0, 0.9);
   padding: 10px;
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   z-index: 10;
   box-sizing: border-box;
   box-shadow: 0 -1px 10px 3px var(--primary-color)
}

div.logo-container {
   margin: 5px;
   display: flex;
   justify-content: center;
}

.logo-container .logo {
   width: auto;
   height: 150px;
   margin-top: 5px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 20em;
}

nav {
   min-width: 50%;
   margin: 5px;
   box-sizing: border-box;
}

.nav-list {
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}

.nav-list a {
   width: 100%;
   margin: 15px;
   border: 1px solid var(--primary-color);
   border-radius: 3px;
   padding: 10px;
   text-align: center;
   text-decoration: none;
   color: inherit;
   letter-spacing: 1.5px;
   font-weight: 640;
}

.nav-list a li {
   list-style: none;

}

.nav-list a:hover {
   background: var(--fourth-color);
   cursor: pointer;
   color: black;
   transition: background 0.4s ease;
   animation: glitch 0.5s infinite;
}

.nav-list a:focus {
   outline: 0;
   box-shadow: 0.5px -0.5px 6px 1px yellow, -0.5px 1.5px 6px 1px yellow;
   transition: box-shadow 0.1s ease;
}


/*///////////////////// MAIN /////////////////////*/

.principal {
   min-height: 60vh;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0;
   margin-top: 5%;
   padding: 1em;
   font-family: 'Cyberpunk Is Not Dead', sans-serif;                                           
}

.principal h1{
   color: var(--fourth-color);
   -webkit-text-fill-color: var(--fourth-color); /* Will override color (regardless of order) */
  -webkit-text-stroke: 1px black;
  font-size: 50px;
}


/*///////////////////// FOOTER /////////////////////*/

footer {
   margin-top: 40px;
   min-height: 10vh;
   width: 100%;
   padding: 0;
   position: relative;
   background: var(--primary-color );
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }
 footer .social-media {
   padding: 20px 50px 10px;
 }

 footer p {
   justify-content: left;
 }

 footer ul{
   list-style: none;
 }

 footer a{
   text-decoration: none;
   color: black;
 }
 
 footer a:hover
 {
   text-decoration: none;
   color: black;
 }

 
 
