*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: black;
  font-family: monospace, 'Courier New', Courier;
}
header{
  position: relative;
  width: 100%;
}

:root{
  --primary-color: #BF2188; 
  --glitched-duration: 0.9s;
  --second-color : #F22E76;
  --third-color: #411D59;
  --fourth-color: #F2A444;
  --fifth--color: #42FBFD;
  --sixth--color: #2F71AB;
  --seventh--color:#1B2350;
  
}
/*/////////////////////CABECERA/////////////////////*/

.header-fixed{
  top:0;
  left: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
  color: rgb(241, 241, 0);
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 10;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px 3px var(--primary-color)
}
div.logo-container{
  margin: 5px;
  display: flex;
  justify-content: center;
}

.logo-container .header-img{
  width: auto;
  height: 200px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

nav{
  min-width: 50%;
  margin: 5px;
  box-sizing: border-box;
}

.nav-list{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.nav-list a{
  width: 100%;
  margin: 15px;
  border: 1px solid var(--primary-color);
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  letter-spacing: 1.5px;
  font-weight: 640;
}
.nav-list a li{
  list-style: none;

}
.nav-list a:hover{
  background: rgb(241, 241, 0);
  cursor: pointer;
  color: black;
  animation: glitch 0.5s infinite;
}
.nav-list a:focus{
  outline: 0;
  box-shadow: 0.5px -0.5px 6px 1px yellow, -0.5px 1.5px 6px 1px yellow;
  transition: box-shadow 0.1s ease;
}



/*///////// Animaciones ////////*/
